.text-right svg {
  cursor: pointer;
  fill: rgb(255, 230, 2);
}

svg.delete-button {
  transition: all 0.2s ease-in-out;
  fill: black;
}

.delete-button:hover {
  fill: red;
}

.alert {
  margin-top: 50px;
}

.spinner-border {
  margin-top: 100px;
  margin-left: 50%;
}